<!doctype html>
<title>Basket</title>
<h1>Это корзина </h1>
{% if basket %}
{% for item in basket %}
<p> Пользователь = {{item.user.name}} Цена = {{item.sale}}
    Дата = {{item.date.strftime('%m/%d/%Y')}}
    {% if login_user %}<a href="/basket/{{item.id}}/delete">-</a>{% endif %}</p>
{% endfor %}
<form action="/order/add" method="POST">
    <button type="submit">Купить</button>
</form>
{% else %}
<p>Корзина пуста</p>
{% endif %}