<!doctype html>
<title>Меню</title>
<h1>Это меню {% if login_user %} <b><a href="/menu/add">+</a></b>{% endif %} <b><a href="/logout"> Выход из
            системы</a></b>
</h1>
{% for item in menu %}
<p>Id={{item.id}} Name={{item.name}} Sale={{item.sale}} Сategory={{item.category}} {% if login_user %}<a
        href="/menu/{{item.id}}/delete">-</a>{% endif %}<a href="/basket/{{item.id}}">В корзину</a></p>
{% endfor %}
<h1><a href="/basket">Перейти в корзину</a></h1>