<!doctype html>
<title>Покупки</title>
<h1>Это покупки <a href="/logout"> Выход из системы</a></h1>
{% for order in orders %}
<p> User={{order.user.name}}
    Date={{order.date.strftime('%m/%d/%Y')}} Status={{order.status}} <a href="/show_order/{{order.id}}"> Просмотр
        заказа</a>
    {% if login_user=="Администратор" or login_user=="Продавец" %}
<form action="/order_status/{{order.id}}" method="POST"><button type="submit">Заказ готов</button></form> {% endif %}
{% endfor %}
</p>