<!doctype html>
<title>Заказы</title>
<h1>Это заказы <a href="/logout"> Выход из системы</a></h1>
{% for item in orders %}
<p>Name= {{item.menu.name}}
    Sale={{item.sale}} Count={{item.count}} order_id={{item.order_id}}
    {% endfor %} </p>