<!doctype html>
<title>Users</title>
<h1>Это список пользователей {% if login_user %} <a href="/users/add">+</a>{% endif %} <a href="/logout"> Выход из
        системы</a></h1>
{% for user in users %}
<p>Id={{user.id}} Name={{user.name}} Salary={{user.salary}} Login={{user.login}} Password={{user.password}}
    Type={{user.type}} {% if login_user %}<a href="/users/{{user.id}}/delete">-</a>{% endif %}</p>
{% endfor %}